<!DOCTYPE html>
<html>
  <head>
    {% include '/includes/head.html.twig' %}
  </head>
  <body>
    <div class="container">
      <h1>Cool Cats Library</h1>
      <h2>Edit {{book.getTitle}} here</h2>
        <div class="row">
            <div class="col-md-6">


                <form class="form-group" action="/update_book/{{book.getId}}" method="post">
                    <input value="patch" type='hidden' name='_method'>
                    <h2>Edit a book</h2>
                    <label for='title'>Change Book Title:</label>
                    <input class="form-control"id='title' name='title' type='text'><br>

                    <!-- <label for='copies_total'>Change number of copies:</label>
                    <input  class="form-control"id='copies_total' name='copies_total' type='text'><br> -->

                    <button class="btn btn-lg btn-primary" type='submit'>Update Book</button>
                </form>


                <form class="form-group" action="/delete_this_book/{{book.getId}}" method="post">
                    <input value="delete" type='hidden' name='_method'>
                    <button class="btn btn-lg btn-warning"type='submit'>Delete this book</button>
                </form>
            </div>


            <div class="col-md-6">
                <form class="form-group" action="/add_author_to_book" method="post">
                    <input id="book_id" name="book_id" type="hidden" value="{{ book.getId }}">
                    <select id='author_id' name='author_id' type='text'>
                        {%for author in authors%}
                            <option value="{{ author.getId }}">{{author.getName}}</option>
                        {%endfor%}
                    </select>
                    <button class="btn btn-lg btn-primary"type='submit'>Add Author</button>

                </form>
            </div>
        </div><!--row-->
        <hr>



        <div id='navigation'>
            <p>
                <h1><a href="/">Home</a></h1>
            </p>
        </div>
    </div><!--container-->
  </body>
</html>

<!--workspace-->
